* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #362c52;
  }
  
  .main {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
  .box-login {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  
  .right-login {
    background-color: #514572;
    border: 2px solid #514572;
    border-radius: 10px;
  }
  
  .left-login {
    color: white;
    margin: 30px;
  }
  
  .main-login {
    padding: 30px;
  }
  
  input {
    width: 80%;
    padding: 0;
    background-color: #514572;
    border: none;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .usuario {
    display: flex;
    flex-direction: column;
    outline: none;
    margin-bottom: 10px;
  }
  
  .senha {
    display: flex;
    flex-direction: column;
    outline: none;
    margin-bottom: 10px;
  }
  
  .btn-login {
    width: 80%;
    background-color: #03fe8a;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
  }
  